.app {
  display: flex;
  align-items: flex-start;
  gap: 0;

  width: 100%;
  min-height: 100vh;
}

.aside {
  position: sticky;
  top: 0;
  left: 0;

  flex-shrink: 0;
  min-width: 384px;
  height: 100vh;

  background-color: #e5e5e5;

  &_list {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 24px;

    :global {
      .active {
        background-color: #ffffff;
      }
    }
  }

  .menuItem {
    width: 100%;
    flex-shrink: 0;

    min-height: 40px;
    padding: 8px;

    line-height: 24px;
  }
}

.content {
  width: 100%;
  min-height: 100vh;

  .main {
    padding: 24px;
  }
}
